# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Data & large artifacts
data/brainMri/
checkpoints/
results/
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
